
<mat-toolbar>
  <button mat-button routerLink="/home">Home</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/contact">Contact</button>  
  <button mat-button routerLink="/login">Login</button>
  <button mat-button routerLink="/register">Register</button>
</mat-toolbar>    
<!-- <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/login">Home</a></li>  
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </nav>
   -->
